.title {
    background-color: rgba(230, 196, 167, 0.792);
    text-align: center;
}
#error {
    color: red;
    font-weight: bold;

}
#newPkg, #savePkg {
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
}

#pkgTrack {
    border: 1px;
    font-weight: bold;
    /*border-radius: 5px;*/
    border-style: solid;
    border-color: gray;
    padding: 5px;
    color:rgb(93, 93, 255);
    margin: 5px;
    width: 95%;
}

#courierIcon {
    padding: 3px;
    height: 30px;
    width: 30px;
}

